body{background-color: rgb(52, 52, 119);
    color: rgb(170, 142, 57);
    
}

header{
    background-color: rgb(52, 52, 119);
    font-size: 30px;
    padding: 10px;
}

nav{
    background-color: rgb(62, 18, 85);
    padding: 10px;
    font-size: 20px;
}

footer{
    background-color: rgb(62, 18, 85);
    padding: 10px;
    font-size: 15px;
}

h1{
    color: rgb(62, 18, 85);
}
p{
    color: rgb(169, 170, 57); font-size: "300px";
}

div2{
    background-color: rgb(62, 18, 85);
    padding: 20px;
    border: 10px solid;
    border-radius: 15px;
    border-style: dotted;
    border-width: 5px;
    border-color: rgba(62, 18, 85);
    margin: 50px;
}

.imgRound{
    border-radius: 40%;
    transform: rotate(90deg);
}

.imgSpace{
    padding: 5px;
}

.fotos{
    background-color: rgb(52, 52, 119);
    border-style: none;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;

}



a{
    color:rgb(255, 255, 255);

}

.divGral{
    background-color: rgb(62, 18, 85);
    border-style: none;
    margin: 0px;
    padding: 10px;
}

.container{
    display: flex;
    background-color: rgb(169, 170, 57);
    flex-direction: row;
    /*flex-wrap: wrap;*/
}

body{background-color: rgb(170, 142, 57);
color: rgb(169, 170, 57);
font-size:"100px";

}

p{
    color: rgb(18, 18, 58); font-size: 20px;
     text-align: left;
    display: block;
    text-decoration: none;
}