body{
    background-color: #671451;
}

header{
    background-color: #7ab8ff;
    padding: 2px;
    
}
nav{
    background-color: #a8a8f5;
    padding: 2px;
    

}
div{
    background-color: #bf409f;
    padding: 2px;
    

}
footer{
    background-color: #ff8258;
    padding: 2px;
    

}

.fa{
    color: #a10c45;
}